<section id="team">
    <div class="about container">
        <div class="about-top">
            <h3 class="text-center">Wie zijn wij</h3>
            <div class="row text-center">
                <div class="col-md-4">
                    <%= image_tag "foto1", class: "avatar img-fluid rounded-circle" %>
                    <h4>Kasper van Veen</h4>
                    <p>27 jaar, Secretaris</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag "image2", class: "avatar img-fluid rounded-circle" %>
                    <h4>Veerle</h4>
                    <p>22 jaar, Projectleider</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag "sabina", class: "avatar img-fluid rounded-circle" %>
                    <h4>Sabina</h4>
                    <p>22 jaar, Acquisitie</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <%= image_tag "feico", class: "avatar img-fluid rounded-circle" %>
                    <h4>Feico Ulrici</h4>
                    <p>26 jaar, Sales</p>
                </div>
                <div class="col-md-4">
                    <%= image_tag "charlotte", class: "avatar img-fluid rounded-circle" %>
                    <h4>Charlotte de Bièvre</h4>
                    <p>21 jaar, Marketing </p>
                </div>
                <div class="col-md-4">
                    <%= image_tag "foto_daniel1", class: "avatar img-fluid rounded-circle" %>
                    <h4>Daniel Gordon</h4>
                    <p>26 jaar, Externe belangen</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    </div>
</section>
