<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Favicon -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="images/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="images/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
<!-- Favicon -->
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
<link rel="icon" type="image/png" href="" sizes="32x32">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<!--//fonts-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
                <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $(".scroll").click(function(event){
                            event.preventDefault();
                            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                        });
                    });
                </script>
<!--//slider-script-->
<script>$(document).ready(function(c) {
    $('.alert-close').on('click', function(c){
        $('.message').fadeOut('slow', function(c){
            $('.message').remove();
        });
    });
});
</script>
<script>$(document).ready(function(c) {
    $('.alert-close1').on('click', function(c){
        $('.message1').fadeOut('slow', function(c){
            $('.message1').remove();
        });
    });
});
</script>



</head>
<body>
<!--header-->
<div class="header">
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <a href="/"><%= image_tag "ouwe_taart_logo.png" %></a>
            </div>
            <div class="top-nav">
                <span class="menu">
                <%= image_tag "menu" %>
                </span>
                <ul class="icon1 sub-icon1">
                    <li  ><a href="index.html" >Home</a></li>
                    <li><a href="products.html" > Products</a></li>
                    <li><a href="#"><i></i></a>
                        <ul class="sub-icon1 list">
                            <h3>Recently added items(2)</h3>
                            <div class="shopping_cart">
                                <div class="cart_box">
                                    <div class="message">
                                        <div class="alert-close"> </div>
                                        <div class="list_img"><img src="images/15.jpg" class="img-responsive" alt=""></div>
                                        <div class="list_desc"><h4><a href="#">velit esse molestie</a></h4>
                                            <p>Aliquam dignissim porttitor tortor </p>
                                            <a href="#" class="offer">1 offer applied</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="cart_box">
                                    <div class="message1">
                                        <div class="alert-close1"> </div>
                                        <div class="list_img"><img src="images/16.jpg" class="img-responsive" alt=""></div>
                                        <div class="list_desc"><h4><a href="#">velit esse molestie</a></h4>
                                            <p>Aliquam dignissim porttitor tortor </p>
                                            <a href="#" class="offer">1 offer applied</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="check_button"><a href="cart.html">View Cart</a></div>
                            <div class="clearfix"></div>
                        </ul>
                    </li>
                </ul>
                    <!--script-->
                <script>
                    $("span.menu").click(function(){
                        $(".top-nav ul").slideToggle(500, function(){
                        });
                    });
            </script>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
        <div class="banner">
            <div class="container">
                <h1>Ouwe Taart</h1>
                <p>De taart van oma is iets magisch. Iets waar iedereen heimwee van krijgt en
                aan vroeger van gaat denken. Herbeleef de ambachtelijk smaak van oma's
                taart met behulp van Ouwe Taart.</p>
                <a href="#content" class="scroll down">
                <%= image_tag "arr" %>
            </div>
        </div>
        <div class="content" id="content">
            <div class="content-top">
                <div class="container">
                    <div class="content-top-at">
                    <div class="content-top-grid">
                        <a class="news-letter" href="#">
                            <label class="checkbox"><input type="checkbox"
                                name="checkbox" checked=""><i> </i>POPULAIR</label>
                        </a>
                        <a class="news-letter" href="#">
                            <label class="checkbox"><input type="checkbox"
                                name="checkbox" checked=""><i> </i>NIEUW</label>
                        </a>
                    <div class="clearfix"> </div>
                    </div>
                <a  href="single.html" class="product-in hvr-shutter-in-horizontal">see all products</a>
                <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="container">
            <div class="content-grid">
                <h3 class="future">POPULAIR</h3>
                    <p class="five">1/5</p>
                    <div class="clearfix"> </div>
                <ul id="flexiselDemo1">
                        <li><div class="men-grid">
                    <a href="single.html"><img class="img-responsive"
                        src="images/taarten/cake1.jpg" alt=""></a>
                        <div class="value-in">
                            <p>Appel-taart</p>
                            <span>5,00€</span>
                            <div class="clearfix"> </div>
                        </div>
                        <!--<div class="down-top ">

                             <select  class="drop-down">
                                <option value="" class="size" value="">SIZE</option>
                                <option value="1">Large</option>
                                <option value="2">Medium</option>
                                <option value="3">Small</option>
                             </select>
                        </div>-->
                        </div></li>
                        <li><div class="men-grid">
                        <a href="single.html"><img class="img-responsive"
                            src="images/taarten/cake2.jpg" alt=""></a>
                        <div class="value-in">
                            <p>Aardbijen-taart</p>
                            <span>25,00€</span>
                            <div class="clearfix"> </div>
                        </div>
                        </div></li>
                        <li><div class="men-grid">
                    <a href="single.html"><img class="img-responsive"
                        src="images/taarten/cake3.jpg" alt=""></a>
                        <div class="value-in">
                            <p>Champagne-taart</p>
                            <span>18,00€</span>
                            <div class="clearfix"> </div>
                        </div>
                        </div></li>
                    </ul>
                    <script type="text/javascript">
        $(window).load(function() {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint:480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint:640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint:768,
                        visibleItems: 2
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="js/jquery.flexisel.js"></script>
            </div>
            <div class="content-grid">
                <h3 class="future-in">WOMEN</h3>
                    <p class="five">1/5</p>
                    <div class="clearfix"> </div>
                <ul id="flexiselDemo2">
                        <li><div class="men-grid">
                    <a href="single.html"><img class="img-responsive" src="images/me3.png" alt=""></a>
                        <div class="value-in">
                            <p>Giacket</p>
                            <span>15,00€</span>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="down-top ">

                             <select  class="drop-down">
                                <option value="" class="size" value="">SIZE</option>
                                <option value="1">Large</option>
                                <option value="2">Medium</option>
                                <option value="3">Small</option>
                             </select>
                     </div>
                        </div></li>
                        <li><div class="men-grid">
                    <a href="single.html"><img class="img-responsive" src="images/me4.png" alt=""></a>
                        <div class="value-in">
                            <p>trekking shoes</p>
                            <span>20,00€</span>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="down-top ">

                             <select  class="drop-down">
                                <option value="" class="size" value="">SIZE</option>
                                <option value="1">Large</option>
                                <option value="2">Medium</option>
                                <option value="3">Small</option>
                             </select>
                     </div>
                        </div></li>
                        <li><div class="men-grid">
                    <a href="single.html"><img class="img-responsive" src="images/me5.png" alt=""></a>
                        <div class="value-in">
                            <p>T-Shirt</p>
                            <span>10,00€</span>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="down-top ">

                             <select  class="drop-down">
                                <option value="" class="size" value="">SIZE</option>
                                <option value="1">Large</option>
                                <option value="2">Medium</option>
                                <option value="3">Small</option>
                             </select>
                     </div>
                        </div></li>


                    </ul>
                    <script type="text/javascript">
        $(window).load(function() {
            $("#flexiselDemo2").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint:480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint:640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint:768,
                        visibleItems: 2
                    }
                }
            });

        });
    </script>
    <script type="text/javascript" src="js/jquery.flexisel.js"></script>
            </div>
        </div>
        <div class="about container">
            <div class="about-top">
                <h3 class="text-center">Wie zijn wij</h3>
                <div class="row text-center">
                    <div class="col-xs-4">
                        <%= image_tag "foto1", class: "img-responsive img-circle" %>
                        <h4>Kasper van Veen</h4>
                        <p>27 jaar, Secretaris</p>
                    </div>
                    <div class="col-xs-4">
                        <%= image_tag "image2", class: "img-responsive img-circle" %>
                        <h4>Veerle</h4>
                        <p>22 jaar, Projectleider</p>
                    </div>
                    <div class="col-xs-4">
                        <%= image_tag "sabina", class: "img-responsive img-circle" %>
                        <h4>Sabina</h4>
                        <p>22 jaar, Acquisitie</p>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-xs-4">
                        <%= image_tag "feico", class: "img-responsive img-circle" %>
                        <h4>Feico Ulrici</h4>
                        <p>26 jaar, Sales</p>
                    </div>
                    <div class="col-xs-4">
                    <%= image_tag "image1", class: "img-responsive img-circle" %>
                        <h4>Charlotte de Bièvre</h4>
                        <p>21 jaar, Marketing </p>
                    </div>
                    <div class="col-xs-4">
                        <%= image_tag "foto_daniel1", class: "img-responsive img-circle" %>
                        <h4>Daniel Gordon</h4>
                        <p>26 jaar, Externe belangen</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="clearfix"> </div>
        </div>
    </div>

        <!---->
        <div class="about-us">
            <div class="container">
                <h2 class="text-center">Wat doen wij</h2>
                <div class="col-xs-12">
                <p>Wij verzorgen de communicatie tussen oud en jong. Via de
                website, kleine horecazaken en persoonlijke contacten zorgen wij ervoor dat eenzame
                ouderen met een passie voor bakken dit kunnen delen met een generatie die van eerlijke
                en unieke producten houdt. Dit is waar het om draait bij Ouwe Taart; het dichter bij
                elkaar brengen van mensen door middel van kleinschalige waardecreatie.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact">
        <h2>CONTACT</h2>
        <div class="contact-grids">
            <div class="contact-map">
                <iframe  src="https://www.google.com/maps/embed/v1/place?q=Rijnstraat%20151%2C%20Amsterdam%2C%20Netherlands&key=AIzaSyBq4Lq4nzydUmRhW5-d34BnzV6P5ZYh4Mc" allowfullscreen></iframe>
            </div>
            <div class="top-contact">
                <div class=" col-md-3 contact-right">
                    <h3>Ouwe Taart</h3>
                    <p>Rijnstraat 151-III,</p>
                    <p>1079 HC, Amsterdam,</p>
                    <p>Nederland</p>
                    <p>Telefoon:(+31639426610) </p>
                    <p>Email: <a
                     href="mailto:info.ouwetaart@gmail.com">info.ouwetaart@gmail.com</a></p>
                    <!-- <p>Follow on: <a href="#">Facebook</a>, <a
                        href="#">Twitter</a></p>-->
                </div>
                <div class="col-md-8 contact-form">
                 <!--   <h3>Contact me</h3>
                    <form>
                        <div class="contact-in">
                            <div class="name-in">
                                <span>Name:</span>
                                <input type="text" value="">
                            </div>
                            <div class="name-in">
                                <span>Email:</span>
                                <input type="text" value="">
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="name-on">
                            <span>Message:</span>
                            <textarea> </textarea>
                        </div>
                        <input type="submit" value="Send">
                 -->  </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

        <!---->
        <div class="footer">
            <div class="footer-top">
                <div class="container">
                <a href="#" class="theme"><i> </i> “ E-commerce psd theme available ”</a>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                <div class="footer-bottom-at">
                    <div class="col-md-6 footer-grid">
                    </div>
                    <div class="clearfix"> </div>
                </div>
                </div>
            </div>
            <script type="text/javascript">
                        $(document).ready(function() {
                            /*
                            var defaults = {
                                containerID: 'toTop', // fading element id
                                containerHoverID: 'toTopHover', // fading element hover id
                                scrollSpeed: 1200,
                                easingType: 'linear'
                            };
                            */

                            $().UItoTop({ easingType: 'easeOutQuart' });

                        });
                    </script>
                <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


        </div>
</body>
</html>
